stem
stem.exe
*.o
*.obj
*.exe.manifest
.work-linux/
build-linux/
*.log
*.msix

stem-gui
stem
stem.app/
/make_icon
.DS_Store
/releases/
/stem
/stem-gui

# objk build outputs
dist/
kryoterm
kryoterm-gui
kryoterm.app/
# Windows .NET preview build outputs
**/bin/
**/obj/
